# Build output
**/Binaries/
**/Build/
**/DerivedDataCache/
**/Intermediate/
**/Saved/
**/SourceArt/**/*.png
**/SourceArt/**/*.tga

# VS and Xcode project files
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vs/

# Compiled binaries
*.dll
*.exe
*.lib
*.so
*.dylib
*.a
*.app
*.ipa
*.pdb

# Precompiled headers
*.pch
*.gch

# Asset build data
*_BuiltData.uasset

# Exclude only specific necessary files from Build
!**/Build/**/PakBlacklist*.txt
!**/Build/**/*.ico

**/Package
